html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    padding-top: 15px;
    border-radius: 15px;
    margin-top: 70px;
}

.navbar {
    position: fixed;
    width: 100%;
    margin-top: -70px;
    z-index: 2;
}
.culturePic {
    width: 30px;
    border: 1px solid black;
    border-radius: 3px;
}

.navbar select {
    border: none;
    background-color: white;
    color: black;
}
    .navbar select:hover {
        cursor: pointer;
    }

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 10px solid #F2F8F8;
    border-top: 5px solid #F2F8F8;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}

    .table th {
        font-weight: bold;
        padding: 5px;
        padding-bottom: 10px;
        background: #F2F8F8;
        border: none;
    }

    .table td {
        padding: 5px;
        border: none;
        border-bottom: 5px solid #F2F8F8;
        border-right: 5px solid #F2F8F8;
    }


.collectionPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
.collectionPic:hover{
    cursor: pointer;
    opacity: 60%;
}

.collectionPicHome {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10%;
}

.form-coll {
    padding: 2px;
    height: 25px;
    margin: 0px;
    width: 100%;
}
.text-coll {
    width: 100%;
    height: 125px;
}
.form-coll-custom {
    height: 25px;
    padding: 2px;
}
#like {
    color: red;
    font-size: 20px;
    padding: 10px 10px;
}
#like:hover {
    cursor: pointer;
}

.field {
    font-weight: 700;
    padding: 2px 10px;
    border-bottom: 1px dotted lightgreen;
    color: darkgreen
}
.comment {
    background-color: ghostwhite;
    border: 1px solid lightgreen;
    max-width: 500px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 5px 15px 0px;
}
.comment h5 {
    color: green;
}

#notification {
    background-color: lightgreen;
    color: green;
    font-style: italic;
    padding: 2px 15px;
    border-radius: 10px;
    width: 210px;
    margin-bottom: 10px;
}
    #notification::before {
        content: "✓ ";
    }

.fvalue {
    padding: 2px 10px;
    border-bottom: 1px dotted lightgreen;
    border-left: 1px dotted lightgreen;
}

.changeTheme {
    border: none;
    background: none;
    font-size: 30px;
    padding: 0;
    margin-left: 10px;
}
a {
    text-decoration: none;
}